.config/**


!.config/nvim
!.config/nvim/**

!.config/fastfetch
!.config/fastfetch/**

!.config/fontconfig
!.config/fontconfig/**

!.config/kitty
!.config/kitty/**

!.config/lf
!.config/lf/**

!.config/rofi
!.config/rofi/**

!.config/starship.toml

!.config/hypr
!.config/hypr/**

!.config/swaync
!.config/swaync/**

!.config/waybar
!.config/waybar/**

!.config/eww
!.config/eww/**

!.config/zed
!.config/zed/**
