#new-tab-button{
    -fx-translate-y: 7.5px;
    -fx-focus-traversable: false;
}
#tab-button-container{
    -fx-background-color: black;
    -fx-translate-y: 5px;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
}
#tab-button{
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
    -fx-focus-traversable: false;
    -fx-alignment: center-left;
}
#tab-close-button{
    -fx-translate-y: 2px;
    -fx-min-width: 20px;
    -fx-min-height: 25px;
    -fx-max-height: 25px;
    -fx-background-radius: 20px;
    -fx-focus-traversable: false;
    -fx-background-color: transparent;
    -fx-alignment: center;
}
#tab-close-button:hover{
    -fx-background-color: rgb(214, 214, 214);
}
#tab-pane{
    -fx-translate-y: 70px;
    /* -fx-background-color: black; */
}
